<div class="call-block-v8">
  <div class="py-6">
    <div class="columns is-vcentered b-columns-half-tablet-p">
      <div class="column is-5 is-offset-1">
        
        <p class="text-medium text-italic rem-95 max-w-3 mb-4">
          "Strategy without tactics is the slowest route to victory. Tactics
          without strategy is the noise before defeat." - Sun Tzu, The Art of
          War.
        </p>
        <p class="subtitle is-5 max-w-5 text-medium">
          Tell us how we can help
        </p>
        <div>
            <img src="/img/vectors/contact-us.svg" alt="" />
          </div>
      </div>
      <div class="column is-5 is-offset-1">
        <div
          class="box mobile:p-4 small:p-6 large:p-6 wide:p-6 big:p-10 mx-auto max-w-7"
        >
          <div>
            <h3 class="title is-3">Contact us</h3>
            <h4 class="subtitle is-6">
              Use the form below to send us a message.
            </h4>
            <form class="py-4">
              <div class="field">
                <label>Full Name</label>
                <div class="control has-icon">
                  <input class="input" placeholder="Your name" />
                  <div class="form-icon">
                    <i class="iconify" data-icon="lucide:user"></i>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Email Address</label>
                <div class="control has-icon">
                  <input class="input" placeholder="Your email" />
                  <div class="form-icon">
                    <i class="iconify" data-icon="lucide:mail"></i>
                  </div>
                </div>
              </div>
              <div class="field">
                <label class="label">Subject</label>
                <div class="control has-icon">
                  <div class="select is-fullwidth">
                    <select>
                      <option>Select a topic</option>
                      <option>Advisory</option>
                      <option>Development</option>
                      <option>Funding</option>
                    </select>
                    <div class="form-icon">
                      <i class="iconify" data-icon="lucide:feather"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Message</label>
                <div class="control">
                  <textarea
                    class="textarea"
                    rows="4"
                    placeholder="Write your message"></textarea>
                </div>
              </div>
              <div class="field pt-4">
                <div class="control">
                  <button
                    type="button"
                    class="button is-primary is-fullwidth raised"
                    >Send Message</button
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
