---
import Layout from "../layouts/Sticky.astro";
const title = "Home";
---

<Layout title={title}>
  <div class="hero is-fullheight is-center has-top-bg">
    <img class="top-bg-alt" src="/img/bg/top-bg-alt.svg" alt="" />

    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered mt-6">
          <div class="column">
            <h1 class="title is-1 is-bold">Investing in African progress</h1>
            <p
              class="subtitle is-5 mx-auto max-w-5 b-centered-tablet-p text-medium"
            >
              We seek to invest in and support Africa's most promising
              technology startups
            </p>
            <div class="buttons">
              <a class="button is-primary is-medium is-raised" href="#criteria"
                >Learn More</a
              >
              <a class="button is-primary is-outlined is-medium" href="#apply">Apply</a>
            </div>
            <img
              class="hero-image-center mx-auto py-4 inverted-filter"
              src="/img/illustrations/skyline.svg"
              alt="Hero image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section" id="criteria">
    <div class="container">
      <div class="has-text-centered pb-6">
        <span class="tag is-primary is-curved is-outlined is-thick mb-2">
          Criteria
        </span>
        <h2 class="title is-3">Our Approach</h2>
        <p class="subtitle is-5 text-medium">Things we look for / offer</p>
      </div>
      <div class="feature-block-v1">
        <div
          class="columns is-multiline b-columns-half-tablet-p has-text-centered"
        >
          <!-- Feature -->
          <div class="column is-4">
            <div class="py-4">
              <i
                class="iconify rem-200 text-primary"
                data-icon="fa6-solid:microchip"></i>
              <h4 class="title is-6 is-narrow">Deep Scalable Tech</h4>
              <p class="pt-2 mx-auto max-w-3 text-medium rem-95">
                We partner with startups where technology preferably drives the
                business model, not just supports it.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-4">
            <div class="py-4">
              <i
                class="iconify rem-200 text-primary"
                data-icon="fluent:people-team-32-regular"></i>
              <h4 class="title is-6 is-narrow">Team centric</h4>
              <p class="pt-2 mx-auto max-w-3 text-medium rem-95">
                We focus on people and teams, partnering with founders to drive
                success, not just funding.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-4">
            <div class="py-4">
              <i class="iconify rem-200 text-primary" data-icon="icons8:idea"
              ></i>
              <h4 class="title is-6 is-narrow">Fresh Perspectives</h4>
              <p class="pt-2 mx-auto max-w-3 text-medium rem-95">
                We seek out startups that not only innovate, but drive positive
                change in communities they serve.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-4">
            <div class="py-4">
              <i
                class="iconify rem-200 text-primary"
                data-icon="carbon:crop-growth"></i>
              <h4 class="title is-6 is-narrow">Traction Focus</h4>
              <p class="pt-2 mx-auto max-w-3 text-medium rem-95">
                We support startups demonstrating early success, proven demand,
                and a scalable business model.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-4">
            <div class="py-4">
              <i
                class="iconify rem-200 text-primary"
                data-icon="ph:rocket-duotone"></i>
              <h4 class="title is-6 is-narrow">Willing Propellants</h4>
              <p class="pt-2 mx-auto max-w-3 text-medium rem-95">
                We can guide startups through larger funding rounds connecting
                them with later stage investors.
              </p>
            </div>
          </div>
          <!-- Feature -->
          <div class="column is-4">
            <div class="py-4">
              <i
                class="iconify rem-200 text-primary"
                data-icon="la:globe-africa"></i>
              <h4 class="title is-6 is-narrow">Africa Focused?</h4>
              <p class="pt-2 mx-auto max-w-3 text-medium rem-95">
                We are sector agnostic and global but get super excited about
                propositions with an Africa-centric focus
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="py-6">
        <div class="columns is-vcentered b-centered-tablet-p">
          <div class="column is-5 is-offset-1">
            <span class="is-block is-uppercase mb-2 text-primary"
              >Partnering</span
            >
            <h3 class="title is-3 is-narrow max-w-3 small:mx-auto">
              In the fight together
            </h3>
            <p class="py-2 max-w-4 text-medium mb-4 small:mx-auto">
              Our tech-savvy investors give our portfolio companies the
              resources and support they need to level up their pursuit.
            </p>
            <ul class="pl-4 small:hidden">
              <li class="is-flex is-align-items-center py-2">
                <i class="iconify text-primary rem-125" data-icon="lucide:check"
                ></i>
                <div class="ml-2">
                  <p class="small:max-w-2 text-medium">
                    Experienced & Commercial
                  </p>
                </div>
              </li>
              <li class="is-flex is-align-items-center py-2">
                <i class="iconify text-primary rem-125" data-icon="lucide:check"
                ></i>
                <div class="ml-2">
                  <p class="small:max-w-2 text-medium">Deeply Technical</p>
                </div>
              </li>
              <li class="is-flex is-align-items-center py-2">
                <i class="iconify text-primary rem-125" data-icon="lucide:check"
                ></i>
                <div class="ml-2">
                  <p class="small:max-w-2 text-medium">Connected</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="column is-6">
            <img
              class="light-image-block"
              src="/img/vectors/good-team.svg"
              alt=""
            />
            <img
              class="dark-image-block"
              src="/img/vectors/good-team.svg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section has-pseudo-lines">
    <div class="container">
      <div class="has-text-centered py-12">
        <span class="tag is-primary is-curved is-outlined is-thick mb-2"
          >Who we are</span
        >
        <h2 class="title is-3">Our Values</h2>
        <p class="subtitle is-5 text-medium">
          Hoping to address enthicity gap in startup funding -
          <a
            class="action-link"
            target="_blank"
            href="https://2020.stateofeuropeantech.com/chapter/diversity-inclusion/article/diversity-inclusion/"
          >
            <span>Read more</span>
          </a>
        </p>
      </div>

      <div class="py-12">
        <div class="columns is-vcentered">
          <div class="column is-6 is-relative is-centered-portrait">
              <img
                class="block mx-auto"
                src="/img/photo/allhands.jpg"
                alt="Block image"
              />
          </div>
          <div class="column is-5 is-offset-1">
            <h2 class="title is-3 small:text-centered">Why We Exist</h2>

            <div
              class="columns is-multiline small:max-w-5 small:mx-auto small:px-8"
            >
              <div class="column is-6">
                <div class="py-2 medium:py-4">
                  <h4 class="title is-6 is-narrow">Equality</h4>
                  <p class="pt-2 max-w-3 text-medium rem-90">
                    All-ethnic teams received 1.58% of all venture capital funding across stages between 2009-2019 - 
                    <a
                      class="action-link"
                      href="https://2020.stateofeuropeantech.com/chapter/diversity-inclusion/article/diversity-inclusion/"
                    >
                      <span>Read more</span>
                    </a>
                  </p>
                </div>
              </div>
              <div class="column is-6">
                <div class="py-2 medium:py-4">
                  <h4 class="title is-6 is-narrow">Empowerment</h4>
                  <p class="pt-2 max-w-3 text-medium rem-90">
                    Platform for self-sustinance and value for marginalised communities.
                  </p>
                </div>
              </div>
              <div class="column is-6">
                <div class="py-2 medium:py-4">
                  <h4 class="title is-6 is-narrow">Nurturing</h4>
                  <p class="pt-2 max-w-3 text-medium rem-90">
                    Support growth and innovation that can transform others.
                  </p>
                </div>
              </div>
              <div class="column is-6">
                <div class="py-2 medium:py-4">
                  <h4 class="title is-6 is-narrow">Willing Vessels</h4>
                  <p class="pt-2 max-w-3 text-medium rem-90">
                    Selflessness, generosity of spirit.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section" id="apply">
    <div class="container">
      <div class="has-text-centered">
        <p class="subtitle mx-auto max-w-5 text-medium">
          See us not as investors but partners.
        </p>
        <div class="buttons is-centered mt-4 mb-6">
          <a
            class="button is-primary is-big is-long-2 raised"
            href="mailto:hello@ardency.vc"
          >
            <!-- <i class="iconify rem-125" data-icon="ph:envelope-simple"></i> -->
            &nbsp;Email Us
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>
