<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <img
          class="footer-logo light-image-block"
          src="/img/logo/ardency.svg"
          alt="Logo"
        />
        <img
          class="footer-logo dark-image-block"
          src="/img/logo/ardency-white.svg"
          alt="Logo"
        />
        <!-- <p class="footer-text">
          ardency is a ...
        </p> -->
        <div class="socials">
          <a href="https://twitter.com/ardencyio" target="_blank">
            <i class="iconify" data-icon="fa:twitter"></i>
          </a>
          <a><i class="iconify" data-icon="fa:linkedin"></i></a>
          <a href="https://medium.com/@ardencygrp" target="_blank">
            <i class="iconify" data-icon="fa:medium"></i></a>
        </div>
      </div>
      <div class="column is-2 is-offset-2">
        <!-- <h4 class="title is-6">Company</h4>
        <ul class="footer-menu">
          <li>
            <a href="/advisory#our-services" class="footer-link">Advisory</a>
          </li>
          <li><a href="/technology" class="footer-link">Engineering</a></li>
          <li><a href="/blog" class="footer-link">Blog</a></li> -->
        </ul>
      </div>
      <div class="column is-2">
        <h4 class="title is-6">More</h4>
        <ul class="footer-menu">
          <li>
            <a href="/policy/terms" class="footer-link">Terms & Conditions</a>
          </li>
          <li>
            <a href="/policy/privacy" class="footer-link">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="column is-5">
        <h4 class="title is-6">Find Us</h4>
        <ul class="footer-menu">
          <li>L6 Ken Lee Bldg, 20 Edith Cavell St</li>
          <li>Pt. Louis, Mauritius 11302</li>
          <li>hello@ardency.io</li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <div class="copyright-text">
        <a href="#" target="_blank"
          ><img
            class="copyright-logo"
            src="/img/logo/ardencyio.svg"
            width="112"
            height="28"
            alt=""
          />
        </a>
        &nbsp;&copy;,
        &nbsp;&nbsp;
        illustrations: @storyset on
        &nbsp;
        <a
          href="https://www.freepik.com/author/stories?&from_view=author"
          class="footer-link">freepik
        </a>
      </div>
    </div>
  </div>
</footer>
